.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #888; 
    padding: 10px 20px;
    border-radius: 50px;
    width: 80%;
    margin: 0 auto;
    position: fixed;
    bottom: 20px; 
    left: 0;
    right: 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .menu-item {
    background-color: white;
    padding: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .menu-item svg {
    color: black; 
  }
  
  .menu-item:hover {
    background-color: #ddd; 
  }
  