.header {
    /* margin-top: 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    background-color: white;
}

.auth-buttons {
    display: flex;
    gap: 10px;
}

.auth-buttons button {
    padding: 10px 20px;
	background-color: #363636;
	color: white;
	border: none;
	border-radius: 20px;
	font-size: 16px;
	text-decoration: none;
	cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.auth-buttons .button-home {
    position: absolute;
    left: 20px;
    margin-top: -20px;
    padding: 10px 20px;
	background-color: #363636;
	color: white;
	border: none;
	border-radius: 20px;
	font-size: 16px;
	text-decoration: none;
	cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.auth-buttons .button-home-nl {
    position: absolute;
    right: 20px;
    padding: 10px 20px;
	background-color: #363636;
	color: white;
	border: none;
	border-radius: 20px;
	font-size: 16px;
	text-decoration: none;
	cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.auth-buttons .button-logout {
    position: absolute;
    left: 140px;
    margin-top: -20px;
    padding: 10px 20px;
	background-color: #363636;
	color: white;
	border: none;
	border-radius: 20px;
	font-size: 16px;
	text-decoration: none;
	cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.auth-buttons .button-home, 
.auth-buttons .button-logout, 
.auth-buttons .button-home-nl {
    display: flex;
    align-items: center;
  }

.auth-buttons .button-logout:hover,
.auth-buttons .button-home:hover,
.auth-buttons .button-home-nl:hover {
    background-color: #946efb;
}


.auth-buttons button:hover {
    background-color: #946efb;
}

.profile-section {
    display: flex;
    /* right: 20px; */
    align-items: center;
    gap: 10px;
}

/* .profile-name {
    position: absolute;
    margin-left: 20px;
    object-fit: cover;
} */

button {
    padding: 10px 20px;
	background-color: #363636;
	color: white;
	border: none;
	border-radius: 20px;
	font-size: 16px;
	text-decoration: none;
	cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #946EFB;
}

/* .header-title {
    position: absolute;
    margin-top: 60px;   
    right: 20px;
} */

.header-container {
    position: absolute;
    top: 20px; 
    right: 20px;
    align-items: center; 
    justify-content: flex-end;
    align-items: center;
    display: flex;
}

.header-title {
    margin: 0; 
    margin-right: 20px; 
    font-size: 24px; 
    color: #363636; 
}

.profile-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}