.products-container {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}
  
.product-grid {
	display: grid;
	grid-template-columns: repeat(4, minmax(120px, 1fr)); /* Уменьшили ширину карточек */
	gap: 20px;
	margin: 0 5px;
}
  
.product-card {
	border: 1px solid #ddd;
	text-align: center;
	width: 120px; /* Уменьшили ширину карточек */
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	margin: 0 5px;
}
  
.product-item {
	font-size: 1rem; /* Уменьшили размер текста */
	background: #ffffff;
	border-radius: 8px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	text-align: center;
	transition: transform 0.2s;
	margin: 0 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 200px; /* Уменьшили высоту карточек */
}
  
.product-item img {
	width: 180px; /* Уменьшили размер изображений */
	height: 180px;
	object-fit: cover;
	display: block;
	margin-left: 50;
	border-radius: 10px; /* Закруглили углы у изображений */
	flex-shrink: 0;
}
  
.product-item h3, .product-item p {
	margin: 10px 0;
	color: #363636;
	text-align: center;
}
  