@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@400;600;700&display=swap');

body {
	margin: 0;
	font-family: "Anek Devanagari", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: "Anek Devanagari", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
